#topbanner {
	width: 100%;
}
#banner {
	width: 100%;
}
#welcome {
	color:red;
}
img {
	width: 100%;
}
@media screen and (min-width: 768px) {
	#gizmo {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
}